<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="https://github.com/tsaopy/tsaopy.github.io/blob/main/_sass/homepage.scss" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        <img src="https://avatars.githubusercontent.com/u/105753409?v=4?quality=95&w=300" alt="Logo" />

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <ul class="downloads">
          <li><a href="https://github.com/tsaopy/tsaopy/archive/refs/heads/main.zip">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/tsaopy/tsaopy">View on <strong>GitHub</strong></a></li>
          <li><a href="https://doi.org/10.5281/zenodo.6569848">Project <strong>DOI</strong></a></li>
        </ul>
        
        <p class="view"><a href="https://github.com/sofi1256">Visit My Personal GitHub Profile</a></p>
        
      </header>
      <rightheader>
      
        <p class="view"> <font size="+2">Index</font></p>
        <p class="view"><a href="https://tsaopy.github.io/method/">Method</a></p>
        <p class="view"><a href="https://tsaopy.github.io/bibliography/">Bibliography & other sources</a></p>
        <p class="view"><a href="https://tsaopy.github.io/basic-usage/">Basic usage (Notebook 1)</a></p>
        <p class="view"><a href="https://tsaopy.github.io/van-der-pol/">A Van der Pol oscillator (Notebook 2)</a></p>
        <p class="view"><a href="https://tsaopy.github.io/blood-cells/">Blood cells experiment (Notebook 3)</a></p>
        <p class="view"><a href="https://tsaopy.github.io/blood-cells/">Initial values optimization (Notebook 4)</a></p>
        
      </rightheader>
      <section>

      {{ content }}

      </section>
      <footer>
        <p>This project is being developed and maintained by <a href="mailto:sofi.wdr@gmail.com">Sofía Scozziero.</a></p>
        <p><small>Hosted on GitHub Pages &mdash; The theme is a customized version of the minimal theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>

