<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <center><img src="https://avatars.githubusercontent.com/u/105753409" alt="Logo" height="170" /></center>

        <ul class="downloads">
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
          <li><a href="{{ "/api/" | absolute_url }}">Read <strong>API Docs</strong></a></li>
          <li><a href="https://doi.org/10.5281/zenodo.6569848">Project <strong>DOI</strong></a></li>
        </ul>
        
        <h3 class="lsbu"> Resources </h3> 
        <h5 class="lsbl" style="font-weight: bold;"> Information </h5>
        <ul>
          <li><a href="{{ "/bibliography/" | absolute_url }}"> Bibliography</a></li>
        </ul>
        <h5 class="lsbl"> Notebooks and examples </h5>
        <ul>
          <li><a href="{{ "/basic-usage/" | absolute_url }}"> Basic Usage</a></li>
          <li><a href="{{ "/basic-usage/" | absolute_url }}"> Basic Usage</a></li>
        </ul>
      </header>

      <section>
      {{ content }}
      </section>

      <rsidebar>
      <h3 style="padding-bottom: 0px;"> Table of contents </h3> 
      {% include toc.html html=content %}
      </rsidebar>
      
      <footer>
        <p>This project is being developed and maintained by <a href="https://github.com/sofia-scz">Sofia A. Scozziero</a>.</p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
